{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/transform-runtime"
        ],
        [
            "@babel/plugin-syntax-jsx"
        ],
        [
            "@babel/plugin-syntax-class-properties"
        ]
    ]
}