@import "~antd/dist/antd.css";

/* Navbar */

.menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}

.logo {
  width: 120px;
  float: left;
  margin-left: -40px;
  padding: 5px;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}

.menuCon {
  width: calc(100% - 150px);
  float: left;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
  margin-right: -90px;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  margin-right: -80px;
  /* display: none; */
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.img-partners {
  max-width: 50%;
  height: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}

/* Login */

div.form {
  display: block;
  text-align: center;
}

.login-register-form {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-register-form-button {
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.nav-link {
  color: #000000;
}

.navbar-brand {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  background-color: #ffdc97;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
  background-color: #fff;
}

.table {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.table-title {
  font-weight: bold;
  font-size: x-large;
}

/* Change header text and background color   */
.ant-table-thead > tr > th {
  color: rgb(0, 0, 0);
  background: #fff5bd !important;
  font-weight: 600;
}

/* Modify list text and background color   */
.ant-table-tbody > tr > th {
  color: white;
  background: #3071b9 !important;
}

/* for checklist */

.text-right {
  text-align: right;
}

@import "~antd/dist/antd.css";

.panels {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.ant-checkbox .ant-checkbox-inner {
  border-color: black;
}

.create-audit-row {
  text-align: left;
  padding-right: 5px;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: #fff5bd;
}

.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: 700;
}

.submit-button {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
  font-weight: bold;
}

/* Dropdown */
.dropdown {
  text-align: left;
}

/* OVERRIDES */
#nav-drawer .ant-drawer-body {
  background-color: #ffffff !important;
  padding: 0;
}

.commentBox {
  margin-left: auto;
  width: 40%;
}

.auditDate {
  margin-left: auto;
}
.total_score{
  margin-left: auto;
}
